<%# partial %>

<!-- Image and text -->
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="https://raw.githubusercontent.com/adnjoo/budget-app-ror/main/app/assets/images/budget-icon2.png"
     width="30" height="30" class="d-inline-block align-top" alt="">
    Budgetyy
  </a>
</nav>
