

<div class="jumbotron my-3">
  <h1 class="display-4">ExpenseTracker</h1>
  <p class="lead">Track your expenses in this nifty little app.</p>
  <hr class="my-4">
  <p>saving money is fun!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/expenses" role="button">Learn more</a>
  </p>
</div>
