<h1>Editing Expense</h1>

<%= render 'form', expense: @expense %>
<div class='my-4'>
<%= link_to 'Show', @expense, class:'btn btn-secondary' %>
<%= link_to 'Back', expenses_path, class:'btn btn-primary' %>
